@theme {
  --custom-max-width: 45rem;
}

@layer base {
  html,
  body {
    min-height: 100dvh;
    width: 100%;
    font-family:
      'Pretendard Variable',
      Pretendard,
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      Roboto,
      'Helvetica Neue',
      'Segoe UI',
      'Apple SD Gothic Neo',
      'Noto Sans KR',
      'Malgun Gothic',
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: normal;
    font-variant-ligatures: common-ligatures;
    font-display: swap;
  }

  body {
    background-color: #f7f7f7;
  }

  html {
    font-size: 62.5%;
  }

  * {
    box-sizing: border-box;
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar,
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  html,
  body,
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }

  .fixed-center {
    width: 100%;
    max-width: var(--custom-max-width);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
  }

  .footer-height {
    height: var(--footer-height);
  }

  .nav-height {
    height: 5rem;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 0.8rem;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #b8b8b8;
    border-radius: 999px;
    border-top: 0.3rem solid transparent;
    border-bottom: 0.3rem solid transparent;
    border-left: 0.25rem solid transparent;
    border-right: 0.25rem solid transparent;
    background-clip: padding-box;
  }
}
