@theme {
  --custom-max-width: 45rem;
}

@layer base {
  html,
  body {
    min-height: 100dvh;
    width: 100%;
  }

  body {
    background-color: #f7f7f7;
  }

  html {
    font-size: 62.5%;
  }

  * {
    box-sizing: border-box;
  }

  /* Hide scrollbar for Chrome, Safari, and Opera */
  html::-webkit-scrollbar,
  body::-webkit-scrollbar,
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  html,
  body,
  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  /* 기본 내장 버튼 등 제거 */
  input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }

  .fixed-center {
    width: 100%;
    max-width: var(--custom-max-width);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
  }

  .footer-height {
    height: 7.2rem;
  }

  .nav-height {
    height: 5rem;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 0.8rem;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #b8b8b8;
    border-radius: 999px;

    border-top: 0.3rem solid transparent;
    border-bottom: 0.3rem solid transparent;
    border-left: 0.25rem solid transparent;
    border-right: 0.25rem solid transparent;
    background-clip: padding-box;
  }
}
