@theme {
  --animation-fade-in: fade-in 0.3s ease-in-out;
  --animation-fade-out: fade-out 0.3s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: var(--animation-fade-in);
  }

  .animate-fade-out {
    animation: var(--animation-fade-out);
  }
}
