@theme {
  --color-black-1: #ffffff;
  --color-black-2: #fcfcfc;
  --color-black-3: #f5f5f5;
  --color-black-4: #eaeaea;
  --color-black-5: #e3e3e3;
  --color-black-6: #bfbfbf;
  --color-black-7: #8c8c8c;
  --color-black-8: #595959;
  --color-black-9: #313131;
  --color-black-10: #000000;

  --color-black-zinc-4: #a1a1aa;
  --color-black-zinc-7: #3f3f46;

  --color-gray-4: #dee2e6;

  --color-neon-black: #e7ff7e;
  --color-neon-white: #ddf575;

  --color-yellow: #fff4cf;
  --color-yellow-text: #996d26;
  --color-green: #dcfcce;
  --color-green-text: #067419;
  --color-green-success: #05ac4b;
  --color-red: #ffe6e6;
  --color-red-text: #bb1b1b;
  --color-red-error: #fe4e39;
  --color-blue: #e5f4fc;
  --color-blue-text: #0f6ca2;

  --color-kakao: #fee500;

  --gradient-photo: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.94%, rgba(0, 0, 0, 0.7) 100%);
}

@layer utilities {
  .gradient-photo {
    background: var(--gradient-photo);
  }
}
