@layer utilities {
  .title-30-eb {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -0.3px;
  }

  .title-26-eb {
    font-size: 2.6rem;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -0.3px;
  }

  .title-26-sb {
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.3px;
  }

  .title-23-eb {
    font-size: 2.3rem;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -0.3px;
  }

  .title-20-bd {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.3px;
  }

  .font-18-bd {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.2px;
  }

  .font-18-md {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.2px;
  }

  .font-16-bd {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.2px;
  }

  .font-16-md {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.2px;
  }

  .caption-14-bd {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.2px;
  }

  .caption-14-md {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.2px;
  }

  .caption-14-rg {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: -0.2px;
  }

  .caption-12-md {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.2px;
  }

  .caption-10-md {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.2px;
  }
}
